#header2 {
    margin-top: 30px;
}

.portfolio-details {
    padding-top: 40px;

    .portfolio-details-slider {
        img {
            width: 100%;
        }

        .swiper-pagination {
            margin-top: 20px;
            position: relative;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: #fff;
                opacity: 1;
                border: 1px solid #1bbca3;
            }

            .swiper-pagination-bullet-active {
                background-color: #1bbca3;
            }
        }
    }

    .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(88, 113, 109, 0.08);

        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        ul {
            list-style: none;
            padding: 0;
            font-size: 15px;

            li + li {
                margin-top: 10px;
            }
        }
    }

    .portfolio-description {
        padding-top: 30px;

        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            padding: 0;
        }
    }
}

.btn {
    border-radius: 50px;
    padding: 4px 30px 6px 30px;
    border: 2px solid #cda45e;

    &:hover {
        color: #fff;
        background: #cda45e;
    }
}
